/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

h4 {
  color: #FFFFFF;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

h5 {
  color: #7B7B82;
  font-size: 0.7rem;
}

/* utilities */

.container {
  width: 98%;
  margin: 0 auto;
  height: 100%;
}

.container-card {
  width: 98%;
  margin: 0 auto;
}

.container-bar {
  width: 80%;
  margin: 0 auto;
}

.container-content {
  width: 95%;
  margin: 100px auto;
}

.d-flex {
  display: flex;
}

.clearfix::after {
	content:'';
	display: table;
	clear: both;
}



.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-items {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}


.debug {
  background-color: rgba(134, 132, 132, 0.707);
  border: 1px solid red;
  width: 200px;
  height: 70px;
}


.block {
  display: inline-block;
}

.co-w {
  color: #FFFFFF;
}

.co-g {
  color: #7B7B82;
}

.pad-lft { 
  padding-left: 10px;
}

.pad-right {
  padding-right: 20px
}

.pad-right-10 {
  padding-left: 10px;
}

.pad-bott {
  padding-bottom: 30px;
}

.pad-bott-10 {
  padding-bottom: 10px;
}

.pad-top {
  padding-top: 20px;
}

.ft-size {
  font-size: 0.9rem;
}

.ft-sizem {
  font-size: 0.8rem
}

.ft-sizexs {
  font-size: 0.6rem;
}

.ft-sizel {
  font-size: 1.5rem;
}

.w-100 {
  width: 100%;
}


.card{
  display: inline-block;
  width: calc(100% / 6);
  aspect-ratio: 1 / 1;
  padding: 10px;
  text-align: center;
}

/* 
header .btn {
  transition: all 0.3s;
}

header .btn:hover {
  transform: scale(1.10, 1.10);
} */ 


/* main */

/* bar */

main .bar #logo img {
  width: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

main img.small {
  display: none;
  width: 30px;
}

main .bar {
  height: calc(100vh - 90px);
  width: 225px;
  background-color: #000000;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .bar i {
  padding-right: 2px;
  font-size: 1rem;
}

main #home,
main #playlist,
main #install-app {
 font-size: 0.8rem;
}

#home {
  height: 100px;
}

#home ul li {
  padding-bottom: 5px;
}

#playlist nav ul li {
 list-style: none;
 padding-bottom: 10px;
}

/* content */

main .content {
  overflow-y: scroll;
  height: calc(100vh - 90px);
  background-color: #141822;
  
}

.content .top-bar{
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: rgba(8, 10, 19, 0.8);
}

.content .top-bar a {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
}

.content .top-bar .btn {
  padding: 10px 25px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}

.content .menu nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.content .menu nav ul li {
  margin: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.content .menu nav ul li a {
  text-decoration: none;
  color: #7B7B82;
}

.content .menu nav ul li a:hover {
  color: #FFFFFF;
}


.content #popular .row .card img {
  border-radius: 50%;
}

.content .img-over {
  position: relative;
}

.content .row .card .img-over:hover .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
}

.content .img-over:hover i.over {
  font-size: 2.5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* section h3{
  position: absolute;
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  */

/* footer */

footer {
  height: 90px;
  background-color: #282828;
}

footer p {
  font-size: 0.8rem;
  font-weight: bold;
}

footer p.co-g {
  font-size: 0.6rem;
}



/* footer left */

footer .box img {
  width: 40px;
}

footer .box.left,
footer .box.right {
  width: 190px;
  flex-shrink: 0;
}

footer .box.left {
  margin-right: 20px;
}

footer .box.left .s-column-resp {
  width: 40px;
  height: 36px;
}


/* footer center  */

footer .box.center {
  width: 540px;
}

footer .box.center .bottom .vol-bar-center {
  margin: 0 25px;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #7B7B82;
}

footer .box.center .items {
  width: 200px;
  padding-bottom: 15px;
}

/* footer right */
footer .box.right {
  margin-left: 20px;
}

footer .box.right:last-child::after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 4px;
  border-radius: 10px;
  background-color: #FFFFFF;
}





/***********************/
/**** RESPONSIVE *******/
/***********************/

/* s */
@media screen and (max-width: 700px){
  .s-column-resp {
     flex-direction: column;
     align-items: center;
  }

}

/* xs */

@media screen and (max-width: 630px){
  main .bar {
    width: 50px;
  }

  main img {
    display: none;
  }

  main img.small {
    display: inline-block;
  }
}

