/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

h4 {
  color: #FFFFFF;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

h5 {
  color: #7B7B82;
  font-size: 0.7rem;
}

/* utilities */

.container {
  width: 98%;
  margin: 0 auto;
  height: 100%;
}

.container-card {
  width: 98%;
  margin: 0 auto;
}

.container-bar {
  width: 80%;
  margin: 0 auto;
}

.container-content {
  width: 95%;
  margin: 100px auto;
}

.d-flex {
  display: flex;
}

.clearfix::after {
	content:'';
	display: table;
	clear: both;
}



.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-items {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}


.debug {
  background-color: rgba(134, 132, 132, 0.707);
  border: 1px solid red;
  width: 200px;
  height: 70px;
}


.uppercase {
  text-transform: uppercase;
}


.block {
  display: inline-block;
}

.co-w {
  color: #FFFFFF;
}

.co-g {
  color: #7B7B82;
}

.pad-lft { 
  padding-left: 10px;
}

.pad-lft5 {
  padding-left: 5px;
}

.pad-right {
  padding-right: 20px
}

.pad-right-10 {
  padding-left: 10px;
}

.pad-bott {
  padding-bottom: 30px;
}

.pad-bott-10 {
  padding-bottom: 10px;
}

.pad-top {
  padding-top: 20px;
}

.ft-size {
  font-size: 0.9rem;
}

.ft-sizem {
  font-size: 0.8rem
}

.ft-sizexs {
  font-size: 0.6rem;
}

.ft-sizel {
  font-size: 1.8rem;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.overflow {
  overflow: auto;
}

.cursor {
  cursor: pointer;
}

.card{
  cursor: pointer;
  width: 200px;
  padding: 10px;
  text-align: center;
}



/* main */

/* bar */

main .bar {
  height: calc(100vh - 90px);
  width: 225px;
  background-color: #000000;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* bar items */

main .bar .items-small {
  display: none;
  width: 30px;
  height: 100%;
}

main .bar #logo img {
  width: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}


main .bar i {
  padding-right: 3px;
  font-size: 1rem;
}

main .bar i:hover {
  color: #FFFFFF;
  cursor: pointer;
}

main #home,
main #playlist,
main #install-app {
 font-size: 0.7rem;
}

#home img {
  width: 25px;
  padding-right: 5px;
  filter: invert(50%);
}

#home img:hover {
  filter: invert(0%);
}

#home img:hover {
  color: #FFFFFF;
  cursor: pointer;
}

 #home ul li:active {
  border-left: 1px solid #ADFF2E;
}

#home ul li {
  padding-bottom: 5px;
}

#home ul li span:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.list-play {
  height: 45%;
  overflow: auto;
}

.list-play nav ul li {
 list-style: none;
 padding-bottom: 10px;
 font-size: 0.8rem;
}

.list-play nav ul li:hover {
  color: #FFFFFF;
  cursor: pointer;
}

#playlist .hover:hover {
  color: #FFFFFF;
  cursor: pointer;
}

#playlist i {
  font-size: 2rem;
}

#install-app .top::after {
  content: '';
  display: inline-block;
  width: 90%;
  height: 1px;
  background-color: #7B7B82;
  margin-top: 5px;
  margin-bottom: 5px;
}

#install-app .hover:hover {
  color: #FFFFFF;
  cursor: pointer;
}


/* content */

main .content {
  overflow-y: scroll;
  height: calc(100vh - 90px);
  background-color: #141822;
  
}

.content .top-bar{
  position: fixed;
  width: calc(100% - 225px);
  height: 90px;
  background-color: rgba(8, 10, 19, 0.8);
  justify-content: flex-end;
  z-index: 999;
}


.content .top-bar .btn {
  cursor: pointer;
  padding: 10px 30px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  text-align: center;
  margin-right: 20px;
  transition: all 0.3s;
}

.content .top-bar .btn a{
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
}


.content .top-bar .btn:hover {
  transform: scale(1.10, 1.10);
} 

.content .menu nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.content .menu nav ul li {
  margin: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.content .menu nav ul li a {
  text-decoration: none;
  color: #7B7B82;
  transition: border-bottom 0.1s;
}

.content .menu nav ul li a:hover {
  color: #FFFFFF;
}

.content .menu nav ul li a:active{
  transform: scale(1.10, 1.10);
  padding-bottom: 4px;
  border-bottom: 2px solid #ADFF2E;
}


.content #popular .row .card img {
  border-radius: 50%;
}

.content .img-over {
  position: relative;
}

.content .row .card .img-over:hover .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
}

.content .img-over i.over {
  display: none;
}


.content .img-over:hover i.over {
  display: inline-block;
  font-size: 2.5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* footer */

footer {
  height: 90px;
  background-color: #282828;
}

footer p {
  font-size: 0.8rem;
  font-weight: bold;
}

footer p.co-g {
  font-size: 0.6rem;
}



/* footer left */

footer .box img {
  width: 40px;
}

footer .box.left,
footer .box.right {
  width: 190px;
  flex-shrink: 0;
}

footer .box.left {
  margin-right: 20px;
}

footer .box.left .s-column-resp {
  width: 40px;
  height: 36px;
}


/* footer center  */

footer i {
  cursor: pointer;
}

footer .box.left .items .fa-heart:hover,
footer .box.left .items .fa-folder:hover {
  color: #FFFFFF;
}

footer .box.center {
  width: 540px;
}

footer .box.center .bottom .vol-bar-center {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #7B7B82;
}

footer .box.center .bottom .over{
  position: relative;
  width: 100%;
  margin: 0 15px;
}

footer .box.center .bottom .over .overlay{
  position: absolute;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}

footer .box.center .bottom .over i {
  display: none;
}

footer .box.center .bottom .over:hover i {
  display: inline-block;
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}


footer .box.center .top:hover i.scale {
 transform: scale(1.20, 1.20);
}

footer .box.center .items {
  width: 200px;
  padding-bottom: 15px;
}

/* footer right */
footer .box.right {
  margin-left: 20px;
}

footer .box.right:last-child::after {
  content: '';
  display: inline-block;
  width: 75px;
  height: 4px;
  border-radius: 10px;
  background-color: #7B7B82;
}





/***********************/
/**** RESPONSIVE *******/
/***********************/

/* m */
@media screen and (max-width:  1000px){
  .row {
    flex-wrap: wrap;
  }

  .content .menu nav ul {
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 865px){
  .container-content {
    width: 70%;
  }
}



/* s */
@media screen and (max-width: 700px){
  .s-column-resp {
     flex-direction: column;
     align-items: center;
  }

}

/* xs */

@media screen and (max-width: 630px){

  .container-content {
    width: 75%;
  }

  main .bar {
    width: 50px;
  }

  main .content .top-bar {
    width: calc(100% - 50px);
  }

  main .bar .items {
    display: none;
  }

  main #logo {
    display: none;
  }

  main .bar .items-small {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px;
    cursor: pointer;
  }

  main .bar .items-small .bottom {
    filter: invert(60%);
    width: 75%;
  }
}

